<!-- src/app/rapportpointage/rapportpointage.component.html -->

<div class="rapport-container">
  <header>
    <h1>Liste des Rapports de Pointage</h1>
  </header>
  
  <!-- Barre de recherche -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Rechercher un pointage..."
      [(ngModel)]="searchQuery"
      (input)="filterRapports()"
    />
  </div>

  <!-- Liste des rapports -->
  <div class="rapport-list">
    <ul>
      <li *ngFor="let rapport of filteredRapports">
        <div class="rapport-summary">
          <h3>{{rapport.nomPrenomTechnicien}}</h3>
          <!-- Affichage du nom du technicien avec une valeur par défaut -->
          <p>Date : {{ rapport.date | date:'dd/MM/yyyy' }}</p>
          <p>Heure Début : {{ rapport.heureDebut }}</p>
          <p>Heure Fin : {{ rapport.heureFin }}</p>
          <button (click)="showDetails(rapport)">
            {{ selectedRapport === rapport ? 'Cacher Détails' : 'Voir Détails' }}
          </button>
        </div>

        <!-- Détails du rapport -->
        <div *ngIf="selectedRapport === rapport" class="rapport-details">
          <header>
            <img src="assets/images/oualanger.png" alt="Logo" class="logo" />
            <h1>Rapport de Pointage</h1>
          </header>

          <section class="rapport-details-content">
            <h2>Détails du Pointage</h2>
            <div class="details-grid">
              <div><strong>Nom et Prenom:</strong> {{ rapport.nomPrenomTechnicien }}</div>
              <div><strong>Date :</strong> {{ rapport.date | date:'dd/MM/yyyy' }}</div>
              <div><strong>Heure Début :</strong> {{ rapport.heureDebut }}</div>
              <div><strong>Heure Fin :</strong> {{ rapport.heureFin }}</div>
              <div><strong>Commentaire :</strong> {{ rapport.commentaire || 'Aucun commentaire' }}</div>
            </div>

            <footer>
              <button (click)="printReport(rapport)" class="print">Imprimer</button>
              <button (click)="notifyReport(rapport)" class="notify">Envoyer Notification</button>
            </footer>
          </section>
        </div>
      </li>
    </ul>
  </div>
</div>
